body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F3E8E8;
}

header {
    background: #004d40;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn-green { background: #388e3c; }
.btn-blue { background: #1976d2; }
.btn-dark { background: #004d40; }
.btn-red { background: #d32f2f; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

footer {
    background: #004d40;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
